<!-- <div class="container" @panelWidthTrigger="expandedState">
    <div class="title" @titleColorTrigger="expandedState">
        <span *ngIf="expanded" @titleTextTrigger="'in'">Lets Talk!</span>
        <a class="link" (click)="toggleExpandedState()">
            <i @iconTrigger="expandedState" class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        </a>
    </div>

    <div class="notifications">
        <app-contact [expanded]="expanded">
          </app-contact>
    </div>
</div> -->
