
.background-image {
  /*background-image: url('../../../../img/background/mg-background-photo1.jpg');*/

  /*height: calc(100vh - 101px);*/
  height: auto;
  width: calc(100vw - 22px);
  background-size: cover;
  background-position: center center;
  margin-top: -20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /*display: flex;*/

}

.background-image img {
  width: 100%;
  z-index: 0;
  height: 800px;
  top: -150px;
}

.home-intro {
  z-index: 1;
  position: absolute;
}
