<p>
  gallery works!
</p>
<div class="gallery-container">
  <div class="left-wall-container parent">
    <img src="../../../../../img/background/Gallery/gallery-wood-background.jpg" class="left-wall-background" alt="">
  </div>
  <div class="back-wall-container parent">
    <img src="../../../../../img/background/Gallery/gallery-wood-background.jpg" class="back-wall-background" alt="">
  </div>
  <div class="right-wall-container parent">
    <img src="../../../../../img/background/Gallery/gallery-wood-background.jpg" class="right-wall-background" alt="">
  </div>
</div>
