<!-- <div class="row">
  <div class="col-xs-12">
    <a href="" class="btn btn-success">New Note</a>
  </div>
</div> -->

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group" > <!-- [app-project-item] *ngFor="let project of projects" -->
      <app-project-item [project]="project" ></app-project-item>
      <app-project-item [project]="otherProject" ></app-project-item>
      <app-project-item [project]="anotherProject"></app-project-item>

      <!-- <app-project-item>{{project}}</app-project-item> -->

      <!-- <li>{{project.name}}</li>
      <li>{{project.description}}</li>
      <li>{{project.imagePath}}</li> -->
    </ul>
  </div>
</div>
