<div class="background-img">
  <img src="../../../../img/background/blueprints-compressed.jpg" alt="">
  <div class="email-group contact-group">
    <form action="">
      <!-- <div>
        <label for="">Name</label>
      <input type="text">
      </div> -->
      <div class="input-group email-input-group">
        <span class="input-group-addon" id="basic-addon1">Name</span>
        <input type="text" class="form-control" placeholder="John Doe" aria-describedby="basic-addon1">
      </div>
    </form>



    <form action="">
      <!-- <div>
        <label for="">Email</label>
      <input type="text">
      </div> -->
      <div class="input-group email-input-group">
        <span class="input-group-addon" id="basic-addon1">Email</span>
        <input type="text" class="form-control" placeholder="johnd@example.com" aria-describedby="basic-addon1">
      </div>
    </form>

    <form action="">
      <!-- <div>
        <label for="">Phone</label>
      <input type="text">
      </div> -->

      <div class="input-group email-input-group">
        <span class="input-group-addon" id="basic-addon1">Phone</span>
        <input type="text" class="form-control" placeholder="702-564-6363" aria-describedby="basic-addon1">
      </div>

    </form>

    <form action="">
      <!-- <div>
        <label for="">Subject</label>
      <input type="text">
      </div> -->
      <div class="input-group email-input-group">
        <span class="input-group-addon" id="basic-addon1">Subject</span>
        <input type="text" class="form-control" placeholder="I love your work!" aria-describedby="basic-addon1">
      </div>
    </form>


      <!-- <div>
        <label for="body">Body</label>
        <textarea name="body" rows="8" cols="40"></textarea>
      </div> -->
      <div class="form-group email-input-group">
        <label for="body">Body:</label>
        <textarea class="form-control" rows="5" id="contact-email-body"></textarea>
      </div>

      <div class="submit-btn btn btn-default">Submit</div>

  </div>

  <div class="bid-group contact-group">
    <form action="">
      <!-- <div>
        <label for="">Name</label>
      <input type="text">
      </div> -->
      <div class="input-group bid-input-group">
        <span class="input-group-addon" id="basic-addon1">Name</span>
        <input type="text" class="form-control" placeholder="John Doe" aria-describedby="basic-addon1">
      </div>
    </form>



    <form action="">
      <!-- <div>
        <label for="">Email</label>
      <input type="text">
      </div> -->
      <div class="input-group bid-input-group">
        <span class="input-group-addon" id="basic-addon1">Email</span>
        <input type="text" class="form-control" placeholder="johnd@example.com" aria-describedby="basic-addon1">
      </div>
    </form>

    <form action="">
      <!-- <div>
        <label for="">Phone</label>
      <input type="text">
      </div> -->

      <div class="input-group bid-input-group">
        <span class="input-group-addon" id="basic-addon1">Phone</span>
        <input type="text" class="form-control" placeholder="702-564-6363" aria-describedby="basic-addon1">
      </div>

    </form>

    <form action="">
      <!-- <div>
        <label for="">Subject</label>
      <input type="text">
      </div> -->
      <div class="input-group bid-input-group">
        <span class="input-group-addon" id="basic-addon1">Site Address</span>
        <input type="text" class="form-control" placeholder="615 N Ann Rd, 84049" aria-describedby="basic-addon1">
      </div>
    </form>


      <!-- <div>
        <label for="body">Body</label>
        <textarea name="body" rows="8" cols="40"></textarea>
      </div> -->


      <form action="">
        <div class="input-group bid-input-group">
          <span class="input-group-addon" id="basic-addon1">Browse</span>
          <input type="text" class="form-control" placeholder="Upload a file" aria-describedby="basic-addon1">
        </div>
      </form>

      <div class="submit-btn btn btn-default">Submit</div>

  </div>

</div>
