.email-group {

  left: 25px;
}

.email-input {
  border-radius: 4px !important;
}

.email-input-group {
  width: 90%;
  padding-top: 10px;
  margin: auto;
  opacity: 1;
}


#contact-email-body {
  width: 100%;
  /*border-radius: 7px !important;*/
  /*padding-top: 10px;*/
  /*margin-left: 25px;*/
  /*opacity: 1;*/
}

.submit-btn {
  margin-top: 10px;
  /*border-radius: 7px !important;*/
}

.contact-group {
  background-color: black;
  border-radius: 4px;
}
