
<img width="600" src="http://maps.googleapis.com/maps/api/staticmap?center=UT&zoom=4&scale=2&size=600x300&maptype=roadmap&format=gif&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:6%7CNV&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CCA&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CID&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CUT&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CAZ" alt="Google Map of UT">



<!-- <img width="600" src="http://maps.googleapis.com/maps/api/staticmap?center=UT&zoom=4&scale=2&size=600x300&maptype=roadmap&
key= key goes here. remove line breaks before and after this line.
&format=gif&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:6%7CNV&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CCA&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CID&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CUT&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CAZ" alt="Google Map of UT"> -->
