<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">Save</button> <!--[disabled]="!clientForm.valid"-->
          <a class="btn btn-danger" (click)="onCancel()">Cancel</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Title</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image-url">Image Url</label>
            <input
              type="text"
              id="image-url"
              class="form-control"
              formControlName="imagePath"
              #imageUrl>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-xs-12">
          <ul class="list-group" formArrayName="location">
            <div class="row">
              <div formGroupName="location">
                <div class="col-sm-5">
                  <label for="lat">Latitude</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="lat">
                </div>
                <div class="col-sm-5">
                  <label for="long">Longitude</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="long">
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-danger" (click)="onRemoveLocation(i)">X</button>
                </div>
              </div>
              <br><br>
            </div>
          </ul>
        </div>
      </div> -->
      <div class="row">
        <div class="col-xs-12">
          <div class="img">
            <img [src]="imageUrl.value">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="content">Content</label>
            <textarea
              type="text"
              id="content"
              rows="6"
              class="form-control"
              formControlName="description"
              ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <ul class="list-group" formArrayName="notes">
            <div
              class="row"
              *ngFor="let note of clientForm.controls['notes'].controls; let i = index">
              <div formGroupName="{{i}}">
                <div class="col-sm-5">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="desc">
                </div>
                <div class="col-sm-5">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="amount">
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-danger" (click)="onRemoveNote(i)">X</button>
                </div>
              </div>
              <br><br>
            </div>
          </ul>
        </div>
      </div>

    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group row">
      <div class="col-md-5"><input type="text" class="form-control" #noteDesc></div>
      <div class="col-md-5"><input type="text" class="form-control" #noteAmount></div>
      <div class="col-md-2">
        <button
          type="button"
          class="btn btn-primary"
          (click)="onAddNote(noteDesc.value, noteAmount.value)">+</button>
      </div>
    </div>
  </div>
</div>
