.header{
  opacity: .3;
}

.about-container {
  width: 98%;
  position: absolute;
}

.lv-pano-img {
  width: 559px;
  height: auto;
  position: fixed;
  z-index: -5;
  top: 0px;
  left: 358px;
  border-radius: 12px;
}

img.challenger-img {
  position: fixed;
  z-index: -6;
  top: 212px;
  left: 450px;

}

.ccgov-img {
  width: 690px;
  height: auto;
  position: fixed;
  z-index: -5;
  top: 423px;
  left: 400px;
  border-radius: 12px;
}



.google-static-states-outer-container {

  width: 115%;
  margin: -50px;
  left: 0;
  z-index: 0;
}
