.header{
  opacity: .3;
}

.about-container {
  width: 98%;
  position: absolute;
}

.lv-pano-img {
  width: 650px;
  height: auto;
  position: fixed;
  z-index: -5;
  top: 2px;
  left: 430px;
  border-radius: 12px;
}

img.challenger-img {
  position: fixed;
  z-index: -5;
  top: 212px;
  left: 480px;
  /*opacity: .5;*/

}

.ccgov-img {
  width: 761px;
  height: auto;
  position: fixed;
  z-index: -5;
  top: 440px;
  left: 380px;
  /*opacity: .5;*/
  border-radius: 12px;
}



.google-static-states-outer-container {

  width: 115%;
  margin: -50px;
  left: 0;
  z-index: 0;
}
