<app-public-view-header></app-public-view-header>

<div class="background-container">
  <!-- <span class="background-image"> -->
      <app-about-background></app-about-background>
  <!-- </span> -->
</div>

<div class="about-container">
  <app-about-cons></app-about-cons>

  <div class="container fixed-img">

    <div class="container lv-pano-img-container">
      <img class="lv-pano-img img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Bellagio_Las_Vegas_December_2013_panorama.jpg" alt="Challenger School">
    </div>

    <div class="container challenger-img-container">
      <img class="challenger-img img-responsive" src="https://media.glassdoor.com/o/5e/a2/10/4e/everest-campus.jpg" alt="Challenger School">
    </div>

    <div class="container ccgov-bldg">
      <img class="ccgov-img img-responsive" src="http://www.clarkcountynv.gov/RotateImages/Web-Govt-Ctr-from-Pyramid_sm.jpg?RenditionId=5" alt="">
    </div>
  </div>

  <div class="comp-container">
    <app-about-company></app-about-company>
  </div>
    <div class="google-static-states-outer-container">
      <app-proj-in-states-sm></app-proj-in-states-sm>

    </div>


</div>
