<div class="about-container">
  <div class="about-cons-container">
    <div class="about-cons-headshot">
      <img src="../../../../img/chip-headshot.jpg" />
    </div>
    <div class="about-cons-words">
      <p>Chip Maxfield P.E.
              <br>
          President
              <br><br>

          Chip has a high regard for ethical behavior, technical accuracy and public accountability. A great ability to maintain a balanced perspective on issues, even through very challenging negotiations and debates. An ability to maintain a calm demeanor in settings that have a potential to become volatile, staying focused on the issues at hand rather than the personalities of people. A strong relationship with elected officials and community leaders. Chip is a man of integrity, strong ethical character and adaptable leadership. Chip knows how to get things done and done right.
      </p>
    </div>
  </div>
  <div class="about-mg-words-container">
    <p>
      Info about Maxfield Group
<br><br>
July 2005 – Present (11 years 4 months)Nevada, Arizona, California, Idaho, Utah <br>
Consulting firm with expertise in Civil Engineering, Land Planning, Entitlements, Development, Governmental Relations.
<br><br>
Licensed Civil Engineer in Nevada and Utah, Nevada Water Rights Engineer.
<br><br>
Provide project management and owner representation services for land use and development in the States of Nevada, California, Arizona, Utah and Idaho. Services include start up or takeover of development projects through entitlements, planning and permitting. Overseeing projects from raw dirt, hiring and managing consultants including Civil, Traffic, Soils, Environmental, Architectural, Land Planning, Structural, Financial, Permitting, Legal and others as needed. Work with Elected Officials, Governmental Agencies, and Community Leaders for successful and mutually beneficial results.
<br><br>
Provide tracking and overseeing for strict adherence to schedules and budgets. Provide timely and consistent project updates to owners and or owner groups. Forecasting of potential issues and mitigation strategy or avoidance.
    </p>
  </div>
</div>
