<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedClient?.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedClient?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onAddToNotes()">Add New Note</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedClient?.desciption}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      Notes
      <li class="list-group-item" *ngFor="let note of selectedClient?.notes">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
              {{note.name}}
            </div>
            <div class="col-xs-6">
              {{note.amount}}
            </div>
          </div>
        </div>
       </li>
    </ul>
  </div>
</div>
