<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedClient?.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedClient?.name}}</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <h4>{{selectedClient?.description}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>{{selectedClient?.location.lat}}</p>
    </div>
    <div class="col-xs-12">
      <p>{{selectedClient?.location.long}}</p>
    </div>
  </div>

  <div class="col-xs-12">
    <button class="btn btn-success">Add New Note</button>
    <button class="btn btn-primary" (click)="onEdit()">Edit Client</button>
    <button class="btn btn-danger" (click)="onDelete()" >Delete Client</button>
    <button class="btn btn-success" (click)="onComplete()">Project Complete</button>
  </div>
</div>
<hr>
<!-- <app-notes-detail></app-notes-detail> -->
