<p class="about-cons-header">About Chip Maxfield</p>

<div class="row about-cons-container">
  <div class="col-xs-3 about-cons-headshot">
    <img src="../../../../../img/chip-headshot.jpg" class="picture"/>
    <img src="http://gallery.yopriceville.com/var/resizes/Frames/Brown_Transparent_Photo_Frame.png?m=1371592800" alt="" class="picture-frame">
    <img src="http://store.ipadlaserengraving.com/product_view_image/s/image/0/952/718/5x7plaque-oak.png?1341525020" alt="" class="nameplaque">
    <div class="nameplaque-opaquer"></div>
      <label for="headshot" class="about-cons-title">Chip Maxfield P.E.
              <br>
          President</label>


  </div>
  <div class="col-md-4 about-cons-words ">
    <p>
      <span class="about-cons-words-lines1 cons-left">Chip has a high regard for</span><br>
      <span class="about-cons-words-lines2 cons-leftish">ethical behavior, technical</span><br>
      <span class="about-cons-words-lines3 cons-midleft">accuracy and public accountability.</span><br>
      <span class="about-cons-words-lines4 cons-mid">A great ability to maintain</span><br>
      <span class="about-cons-words-lines1 cons-midright">a balanced perspective on issues,</span><br>
      <span class="about-cons-words-lines2 cons-rightish">even through very challenging</span><br>
      <span class="about-cons-words-lines3 cons-right">negotiations and debates. An</span><br>
      <span class="about-cons-words-lines4 cons-rightish">ability to maintain a calm </span><br>
      <span class="about-cons-words-lines1 cons-midright">demeanor in settings that have</span><br>
      <span class="about-cons-words-lines1 cons-mid">a potential to become volatile, staying</span><br>
      <span class="about-cons-words-lines2 cons-midleft">focused on the issues at hand rather</span><br>
      <span class="about-cons-words-lines3 cons-leftish">than the personalities of people.</span><br>
      <span class="about-cons-words-lines4 cons-left">A strong relationship with</span><br>
      <span class="about-cons-words-lines1 cons-leftish">elected officials and community leaders.</span><br>
      <span class="about-cons-words-lines2 cons-midleft">Chip is a man of integrity,</span><br>
      <span class="about-cons-words-lines3 cons-mid">strong ethical character and </span><br>
      <span class="about-cons-words-lines4 cons-midright">adaptable leadership. Chip knows</span><br>
      <span class="about-cons-words-lines1 cons-mid">how to get things done and done right.</span>
    </p>
  </div>
  <div class="col-md-4 family-img-container">
    <img class="family-img img-responsive" src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/998339_603894472976188_1295568563_n.jpg?oh=d566eb45deac82fcae6966ea5ca1b535&oe=589EE4D6" alt="Family Picture">
  </div>
</div>
