/*@media (min-width: 1001px) { */

  .navbar-default {
    height: 100px;
  }

  .logo-nav {
    height: 100px;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
  }

  .navbar-nav {
    font-size: 30px;
    padding-top: 20px;
    padding-left: 15%;
  }
/*
  .second-nav {
    padding-left: 25%;
  }

  .third-nav {
    padding-left: 25%;
  }

}
*/

.login-icon {
  background-color: transparent;
  opacity: .5;
}

.login-icon:hover {
  opacity: 1;
}

@media (min-width: 701px {

  .navbar-default {
    height: 100px;
  }

  .logo-nav {
    height: 100px;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
  }



  .navbar-nav {
    font-size: 30px;
    padding-top: 20px;
    padding-left: 5%;
  }

  .second-nav {
    padding-left: 10%;
  }

  .third-nav {
    padding-left: 10%;
  }



}
