<nav class="navbar navbar-default">
  <div class="navbar-header">
    <!-- <a class="navbar-brand" [routerLink]="['/', rlinkBanding]"> -->
    <a class="navbar-brand" [routerLink]="['/']">
    <!-- <a class="navbar-brand" [routerLink]="['/', rlinkBanding]"> -->
       <img src="../../../../img/logo/logo-figma-drpshad.svg" alt="Main logo" class="logo-nav">
       <!-- <img [src]="branding" alt="Main logo" class="logo-nav"> -->
     </a>
    <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
      <span class="sr-only">Toggle navigation</span>



      <!-- <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span> -->
    </button>
  </div>
  <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class=" first-nav">  <!-- class = active -->
        <!-- <a  [routerLink]="['/', rLink1]" >{{link1}} --> <!-- [routerLink]="['/about']" -->
        <a  [routerLink]="['/about']" routerLinkActive="active" class="header-nav-link" >About  <!-- [routerLink]="['/about']" -->
          <!-- <span class="sr-only">(current)</span> -->
        </a>
      </li>
      <li class= "second-nav">
        <!-- <a [routerLink]="['/', rLink2]">{{link2}} -->
        <a [routerLink]="['/projects']" routerLinkActive="active" class="header-nav-link" >Projects
      </a>

      </li>
      <li class= "third-nav">
        <!-- <a [routerLink]="[rLink3]">{{link3}} -->
        <a [routerLink]="['/contact']" routerLinkActive="active" class="header-nav-link" >Contact
      </a>




      </li>

    </ul>



    <ul class="nav navbar-nav navbar-right">
      <li>
      <!-- <button class= "login-icon btn btn-xs" type="button" name="login" [routerLink]="'/' + rlinkLogin"> -->
      <button class= "login-icon btn btn-xs" type="button" name="login" [routerLink]="['/list']">
        <img src="../../../../img/icons/enterprise-icon.png" alt="" />
        <!-- <img [src]="login" alt="" /> -->
      </button>
      </li>

    </ul>
  </div>

</nav>
